<div class="
        h-dvh w-dvw
        grid
        grid-cols-1
        lg:grid-cols-2
        relative
        overflow-auto
    ">
    <div class="flex flex-col justify-center items-center py-10 px-5 max-w-full  ">
        <img class="w-20 h-20 block mb-8 " src="assets/img/logo.png" alt="">
        <div class="flex max-w-[410px] w-full  ">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="hidden lg:block fixed top-0 right-0 w-1/2 h-full z-[-1]">
        <app-banner></app-banner>
    </div>
</div>